<h1 style="color:gold; background-color:black; padding:20px; text-align: center; font-size:40px">Consolida y Filtra Datos</h1>

<h1>Importar librerías necesarias</h1>

In [1]:
import os
import pandas as pd
from time import strftime

<h1>Implementar lógica del proyecto</h1>

<h3 style="color:crimson">Crear DF vacío</h3>

In [2]:
# Crear un dataframe vació que almacenará las traducciones (translations)
df_trans = pd.DataFrame(columns=["español","quechua"])
df_trans

Empty DataFrame
Columns: [español, quechua]
Index: []

<h3 style="color:crimson">Importa y consolida datos</h3>

In [3]:
sub_paths = ["./Datos/oraciones/"
             , "./Datos/palabras/"
             , "./Datos/grupos/"
             , "./Datos/libros/"
            ]
             

for sub_path in sub_paths:
    arr_category = os.listdir(sub_path)

    for item in arr_category:
        if item[-4:] == ".csv":
            file = "{}{}".format(sub_path, item)
            df_temp = pd.read_csv(file, encoding="utf-8", sep="\t")
            
            df_trans = pd.concat([df_trans, df_temp]
                                 , ignore_index = True)

In [4]:
# muestra DF sin filtrar
df_trans

,español,quechua
0,Ve.,Riy.
1,Vete.,Lluqsiy.
2,Vaya.,Waw.
3,Váyase.,Lluqsiy.
4,Hola.,Allinllachu.
...,...,...
152576,que aumenten sus fatigas tu tesoro;,qhapaq kayniyki llank’ayninkuta yapachun;
152577,y cambia horas de espuma por divinas.,hinaspa horas de espuma cambiay divinopaq.
152578,"Sé rica adentro, en vez de serlo afuera.","Hawamanta qhapaq kaymantaqa, ukhupi qhapaq kay."
152579,"Devora tú a la Muerte y no la nutras,","Wañuytaqa mikhunkichis, manataq mikhuchinkich..."
152580,"pues si ella muere, no podrás morir.","Bueno, wañuptinqa manam wañuwaqchu."

<h3 style="color:crimson">Solicita parámetros de filtrado</h3>

In [5]:
MAX_ES = int(input("Ingree longitud máxima en español: "))
MAX_QU = int(input("Ingree longitud máxima en quechua: "))

Ingree longitud máxima en español: 40
Ingree longitud máxima en quechua: 60

<h3 style="color:crimson">Verifica si ya existe esa configuración de longitud</h3>

In [6]:
folder_name = "./Datos/consolidado_{}_{}".format(MAX_ES, MAX_QU)
if os.path.exists(folder_name):
    print("Ya existía folder")
    rpta = input("¿Desea continuar? [Y/N]").upper()
else:    
    os.mkdir(folder_name)
    print("Folder creado correctamente")
    rpta = "Y"

Folder creado correctamente

<h3 style="color:crimson">Filtra los datos según lo indicado por el usuario</h3>

In [7]:
if rpta == "Y":
    for index, registro in df_trans.iterrows():
        txt_es = registro[0]
        txt_qu = registro[1]

        if (len(txt_es) > MAX_ES) or (len(txt_qu) > MAX_QU):
            #print("registro eliminado")
            df_trans = df_trans.drop(index)
            
        if index % 5000 == 0:
            current_time = strftime("%Y-%m-%d %H:%M:%S")
            print("Analizando fila {:,} \t- {}".format(index, current_time))
else:
    print("Operación cancelada por el usuario")

Analizando fila 0 	- 2023-06-19 14:31:20
Analizando fila 5,000 	- 2023-06-19 14:31:20
Analizando fila 10,000 	- 2023-06-19 14:31:20
Analizando fila 15,000 	- 2023-06-19 14:31:20
Analizando fila 20,000 	- 2023-06-19 14:31:20
Analizando fila 25,000 	- 2023-06-19 14:31:20
Analizando fila 30,000 	- 2023-06-19 14:31:20
Analizando fila 35,000 	- 2023-06-19 14:31:21
Analizando fila 40,000 	- 2023-06-19 14:31:21
Analizando fila 45,000 	- 2023-06-19 14:31:21
Analizando fila 50,000 	- 2023-06-19 14:31:22
Analizando fila 55,000 	- 2023-06-19 14:31:22
Analizando fila 60,000 	- 2023-06-19 14:31:23
Analizando fila 65,000 	- 2023-06-19 14:31:24
Analizando fila 70,000 	- 2023-06-19 14:31:26
Analizando fila 75,000 	- 2023-06-19 14:31:27
Analizando fila 80,000 	- 2023-06-19 14:31:30
Analizando fila 85,000 	- 2023-06-19 14:31:34
Analizando fila 90,000 	- 2023-06-19 14:31:39
Analizando fila 95,000 	- 2023-06-19 14:31:45
Analizando fila 100,000 	- 2023-06-19 14:31:54
Analizando fila 105,000 	- 2023-06-19 14:32:06
Analizando fila 110,000 	- 2023-06-19 14:32:21
Analizando fila 115,000 	- 2023-06-19 14:32:40
Analizando fila 120,000 	- 2023-06-19 14:33:02
Analizando fila 125,000 	- 2023-06-19 14:33:27
Analizando fila 130,000 	- 2023-06-19 14:33:55
Analizando fila 135,000 	- 2023-06-19 14:34:24
Analizando fila 140,000 	- 2023-06-19 14:34:41
Analizando fila 145,000 	- 2023-06-19 14:34:58
Analizando fila 150,000 	- 2023-06-19 14:35:18

<h1>Guarda el resultado</h1>

In [8]:
len(df_trans)

112955

In [9]:
df_trans

,español,quechua
0,Ve.,Riy.
1,Vete.,Lluqsiy.
2,Vaya.,Waw.
3,Váyase.,Lluqsiy.
4,Hola.,Allinllachu.
...,...,...
152576,que aumenten sus fatigas tu tesoro;,qhapaq kayniyki llank’ayninkuta yapachun;
152577,y cambia horas de espuma por divinas.,hinaspa horas de espuma cambiay divinopaq.
152578,"Sé rica adentro, en vez de serlo afuera.","Hawamanta qhapaq kaymantaqa, ukhupi qhapaq kay."
152579,"Devora tú a la Muerte y no la nutras,","Wañuytaqa mikhunkichis, manataq mikhuchinkich..."
152580,"pues si ella muere, no podrás morir.","Bueno, wañuptinqa manam wañuwaqchu."

In [10]:
if rpta == "Y":
    batch_size = 30000
    cant_archivos = (len(df_trans) // batch_size) 
    
    # Crear un archivo para los datos sobrantes en caso sea necesario
    if len(df_trans) % batch_size != 0:
        cant_archivos += 1
    
    for index in range(cant_archivos):
        lim_i = batch_size * index
        # No es necesario poner min(), Pandas se encarga de ello
        lim_s = batch_size * (index + 1) - 1 
        
        file_name = folder_name + "/consolidado_p{}.csv".format(index+1)
        df_trans[lim_i: lim_s].to_csv(file_name, index=False, encoding="utf-8", sep="\t")
        
        
else:
    print("Operación cancelada por el usuario")

<h1>Guardar información adicional</h1>