In [1]:
import keras
import numpy as np
import os
import pandas as pd

In [2]:
# Crear un dataframe vació que almacenará las traducciones (translations)
df_trans = pd.DataFrame(columns=["español","quechua"])
df_trans

Empty DataFrame
Columns: [español, quechua]
Index: []

In [3]:
sub_paths = ["./Datos/palabras/",
             "./Datos/Grupos/",
             "./Datos/libros/"]

In [4]:
for sub_path in sub_paths:
    arr_category = os.listdir(sub_path)

    for item in arr_category:
        if item[-4:] == ".csv":
            file = "{}{}".format(sub_path,item)
            df_temp = pd.read_csv(file, encoding="utf-8", sep="\t")
            
            df_trans = pd.concat([df_trans, df_temp]
                                 , ignore_index = True)

In [5]:
df_trans

,español,quechua
0,ácido,ácido nisqa
1,agradable,munasqa
2,agrícola,chakra llamk’aymanta
3,algún,wakin
4,amable,kuyakuq
...,...,...
17576,que aumenten sus fatigas tu tesoro;,qhapaq kayniyki llank’ayninkuta yapachun;
17577,y cambia horas de espuma por divinas.,hinaspa horas de espuma cambiay divinopaq.
17578,"Sé rica adentro, en vez de serlo afuera.","Hawamanta qhapaq kaymantaqa, ukhupi qhapaq kay."
17579,"Devora tú a la Muerte y no la nutras,","Wañuytaqa mikhunkichis, manataq mikhuchinkich..."
17580,"pues si ella muere, no podrás morir.","Bueno, wañuptinqa manam wañuwaqchu."

<h3 style="color:crimson">Eliminar frases muy largas</h3>

In [6]:
arr_es = np.zeros((len(df_trans)))
arr_qu = np.zeros((len(df_trans)))

In [7]:
for index, registro in df_trans.iterrows():    
    arr_es[index] = len(registro[0])
    arr_qu[index] = len(registro[1])

m_es = int(max(arr_es))
m_qu = int(max(arr_qu))
    
print("Max length of Spanish array {:,}".format(m_es))
print("Max length of Quechua array {:,}".format(m_qu))

Max length of Spanish array 300
Max length of Quechua array 300

<h3 style="color:blue">Frases en español</h3>

In [8]:
# Calculate the histogram
hist, bins = np.histogram(arr_es, bins=np.arange(0, m_es+25, 25))
table_es = []

# Create the table
#print("Group\tQuantity")
for i in range(len(hist)):
    if hist[i] != 0:
        #print(f"{bins[i]}-{bins[i+1]}\t{hist[i]}")
        table_es.append(["{}-{}".format(bins[i],bins[i+1]),
                         hist[i] ]       
        )  

df_es = pd.DataFrame(table_es, columns=["Range", "Q"])

print("Total de oraciones: {:,}".format(len(df_trans)))

Total de oraciones: 17,581

In [9]:
df_es

      Range     Q
0      0-25  3296
1     25-50  4099
2     50-75  2255
3    75-100  1924
4   100-125  1558
5   125-150  1228
6   150-175   947
7   175-200   756
8   200-225   581
9   225-250   462
10  250-275   314
11  275-300   161

<h3 style="color:blue">Frases en quechua</h3>

In [10]:
# Calculate the histogram
hist, bins = np.histogram(arr_qu, bins=np.arange(0, m_qu+25, 25))
table_qu = []

# Create the table
#print("Group\tQuantity")
for i in range(len(hist)):
    if hist[i] != 0:
        #print(f"{bins[i]}-{bins[i+1]}\t{hist[i]}")
        table_qu.append(["{}-{}".format(bins[i],bins[i+1]),
                         hist[i] ]       
        )  

df_qu = pd.DataFrame(table_qu, columns=["Range", "Q"])

print("Total de oraciones: {:,}".format(len(df_trans)))

Total de oraciones: 17,581

In [11]:
df_qu

      Range     Q
0      0-25  2645
1     25-50  3939
2     50-75  2603
3    75-100  2027
4   100-125  1573
5   125-150  1333
6   150-175   975
7   175-200   779
8   200-225   589
9   225-250   502
10  250-275   369
11  275-300   247